.Header {
    height: 50px;
    border: 1px solid #dfdfdf;
}

.div-header {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.div-header * {
    padding: 5px;
}