.ResultCard {}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}